.CardItem {
    width: 600px;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    background-color: rgb(233, 233, 233);
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.ContainerItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

.InfoP {
    font-size: 16px;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: green;
    display: flex;
    justify-content: space-around;
}

.InfoN {
    font-size: 16px;
    font-weight: bold;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.ItemImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.ItemFooter {
    text-decoration:none;
}

.Option {
    text-decoration: none;
    border-radius: 25;
    width: auto;
    padding: 3px;
    font-size: 16px;
    background: rgb(186, 186, 186);
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }